.sorting_1 {
    display: -webkit-inline-box;
}
.img img {
    width: 100%;
}

.text {
    position: absolute;
    top: 35%;
    left: 38%;
    color: #fff;
    text-align: center;
}

.img {
    position: relative;
}

.text h2 {
    font-size: 50px;
}

.avatar-edit {
    margin-top: 30px;
    height: 100px;
    width: 100px;
}

.role-box {
    margin-left: 5px;
    margin-top: 10px;
}

img.img-book {
    width: 160px;
}

.dataTables_wrapper .dataTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 22em;
    text-align: center;
}

.dataTables_wrapper .dataTable th {
    cursor: default;
    text-align: center;
    position: relative;
}

.dataTables_wrapper .dataTable td:last-child {
    display: flex;
    justify-content: center;
}

td.sorting_1 {
    display: table-cell;
}

td:last-child {
    display: -webkit-box;
}

.btn.m-btn--custom.btn-sm {
    padding: .45rem 1rem;
}

i.fa.fa-long-arrow-alt-up {
    margin-left: 6px;
}

span.sort {
    color: gainsboro;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    right: 0px;
}

span.sort.active {
    color: black;
}

input.form-control.form-control-sm {
    background-color: #f4f5f8;
    border-color: #f4f5f8;
    color: #575962;
    padding: 9px 18px;
}

div#m_table_1_filter label {
    width: 90%;
}

img.logo {
    width: 110px;
}

span.sort i {
    font-size: 11px;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell>span>i {
    font-size: 11px;
    color: black;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell {
    position: relative;
}

table#html_table .sort {
    right: -37px;
    top: 15px;
}

.custom-file .custom-file-label {
    overflow: hidden;
}

.row {
    margin-top: -15px;
}

.col-md-6 {
    margin-bottom: 30px;
}

.col-12 {
    text-align: center;
}

label.required::after {
    content: '*';
    color: red;
    margin-left: 5px;
}
