
/* rate */
.cont {
    overflow: hidden;
  }

hr {
    margin: 20px;
    border: none;
    border-bottom: thin solid rgba(255,255,255,.1);
}

div.title { font-size: 2em; }

h1 span {
    font-weight: 300;
    color: #Fd4;
  }

div.stars {
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 20px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

/* .detail book */
img.media-object {
    float: left;
    width: 7%;
    margin-right: 22px;
    border: 1px solid #80808070;
    border-radius: 50%;
}

.show.tip-left {
    margin-bottom: 8px;
}

li.active i.fa.fa-star{
    color: #d7882e;
}
p.no-margin{
    margin: 0;
}
p.no-margin.mtop {
    margin-top: -11px;
}
.float-right{
    float: right;
}

.vote{
    float: left;
}
.list-inline>li {
    padding-right: 0;
}
.action {
    float: right;
}

.action {
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}
.event-item:hover .action {
    transition: 0.5s;
    transform: translateY(0px);
    display: block;
    opacity: 1;
    visibility: visible;
}
.action form {
    display: -webkit-inline-box;
}

.count-voted {
    float: right;
    margin-top: 4px;
    margin-left: 5px;
    font-size: 16px;
}

.product-addto-links {
    margin-bottom: 35px;
}

/* vote */

button.btn-vote {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
}

button.btn-vote i, .content .col-md-2 span {
    font-size: 40px;
}

.content .col-md-10 {
    padding: 34px 15px;
    font-size: 18px;
    line-height: 33px;
}

.content .col-md-2 {
    padding: 35px 15px;
}

.voted {
    color: #4242ced9;
}

/* modal book */
.modal-pro-content h3 {
    font-size: 23px;
}

.modal-pro-content p {
    max-height: 300px;
    overflow-y: auto;
}

.product-details h4 a, .single-bestseller .bestseller-text h3 a {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.bestseller-img {
    margin-bottom: 15px;
    min-height: 272px;
    max-height: 272px;
    display: flex;
    justify-content: center;
}

.bestseller-img a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    padding-bottom: 10px;
    padding: 8px 0 12px;
}

.dropdown-menu {
    max-width: 200px;
    min-width: 180px;
    left: -70px;
}

a.dropdown-item {
    display: block;
    padding: 8px;
}

.dropdown-menu {
    text-align: center;
}

button.btn.btn-dangera {
    background: transparent;
    border: none;
    box-shadow: none;
    color: black;
}

.account-area .dropdown-item:hover {
    background-color: #c7c6c657;
}

.header-top-area {
    background: #0808083d;
    color: white;
}

.language-area ul {
    margin-top: 10px;
}

.single-bestseller .bestseller-text h3 a {
    color: #333333;
    display: block;
    font-size: 16px;
    line-height: 1.3;
    overflow: hidden;
    padding: 0;
    text-transform: capitalize;
    transition: .3s;
}

/* paginator */

.page-numbers {
    float: right;
}

.quick-view a i{
    line-height: 60px;
}

a#scrollUp i {
    line-height: 1.7;
}

.single-register {
    overflow: unset;
}

/* product img */
.product-img {
    min-height: 272px;
    display: flex;
    justify-content: center;
    max-height: 272px;
}

.product-img a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-img a.action-view{
    display: inline-block;
}

.product-add-form a {
    margin-right: 10px;
}

.social-author i, .header-search i {
    line-height: 41px;
}

.link-follow i {
    line-height: 50px;
}

.twitter-icon i {
    line-height: 68px;
}

.single-register img {
    max-width: 100%;
}

.both {
    clear: both;
}

.account-area ul li a.login_wsm {
    background: #F07C29 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    height: 40px;
    margin-top: 16px;
    padding: 0 15px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 140px;
    font-weight: bold;
    padding: 8px 12px;
}

.account-area.text-right {
    margin-top: 7px;
}

.header-mid-area .my-cart ul li > a > i{
    padding-right: 12px;
    font-size: 30px;
}

img.img-thumbnail.avatar-icon{
    margin-right: 25px;
}

.table-content table td.product-thumbnail {
    width: 9%;
}

.table-content table td.product-remove i{
    color: white;
}

.swal-modal.review .swal-content a {
    background-color: black;
    padding: 10px 14px;
    color: white;
}

.swal-modal.review .swal-content a:hover {
    background-color: #f07c31;
}

.btn.btn-info.btn-sm.approve {
    margin-bottom: 8px;
}

.table-content table td.product-name a, table, .table-content table td{
    font-family: 'Open Sans', sans-serif;
}
.stt {
    padding: 2px 7px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
}
.bg-waiting {
    background-color: #ffc107!important;
}
.bg-reading {
    background-color: #28a745!important;
}

.bg-returned, .bg-cancel {
    background-color:#007bff!important;
}

.bg-danger{
    background-color: #dc3545!important;
}

.bg-returning{
    background-color: #9b59b6!important;
}

.btn-return{
    background-color: #1abc9c!important;
    color: white;
}

.btn-dimiss {
    background-color: #b2bec3;
}

.left-menu.mb-30 a.active {
    color: #f07c31;
}

.space-20 {
    height: 40px;
}

h4.text-white {
    color: #fff;
    font-weight: 500;
    margin-bottom: 22px;
}

ul.list-unstyled.footer a {
    color: #fff;
}

ul.list-unstyled.social-list i {
    transition: .3s;
    min-width: 2px;
    min-height: 20px;
    text-align: center;
    font-size: 16px;
}

.about li {
    margin-bottom: 10px;
}

.contact i {
    font-weight: 400;
    font-size: 20px;
    margin-right: 12px;
}

.contact li {
    margin-bottom: 20px;
    color: #fff;
}

.banner-img i {
    font-size: 25px;
    color: black;
}

.slider-content.slider-animated-1.text-center h3 {
    color: #fff;
    font-size: 50px;
    margin-top: 75px;
}

.slider-content a {
    font-size: 20px;
    padding: 8px 14px;
    font-family: inherit;
}

.twitter-text p {
    line-height: 28px;
}

.link-follow ul li a:hover {
    background: none;
    border: 1px solid gray;
    border-radius: 0;
    height: 100%;
    text-align: center;
}

.link-follow ul li a {
    background: none;
    border: 1px solid transparent;
    height: 100%;
    text-align: center;
}

.owl-carousel .owl-item img.primary {
    display: block;
    width: auto;
    height: 215px;
    overflow: hidden;
    max-width: inherit;
}

.dropdown-menu.text-center b {
    color: black;
    margin: 11px 0 2px 0;
    display: block;
}

.product-rating li i, .rating-summary i {
    color: #f07c29;
}

.product-rating {
    margin: 14px 0;
}

.modal {
    top: 6%;
}

.modal-tab img {
    max-width: 240px;
}

.language-area ul li:hover .header-sub {
    width: 115px;
}

.btn-link:focus, .btn-link:hover {
    color: #f07c29;
     text-decoration: none;
    background-color: transparent;
}

.btn-link {
    color: #45434e;
    text-transform: unset;
}

.single-banner .banner-text {
    text-align: center;
}